
header {
    border: 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    padding: 0 4px;
    background-color: orange;
    color: white;
}

img {
    width: 112px;
    border-radius: 150px;
    border-style: double;
}

h1.name{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

h1.lastname{
    display: flex;
    flex-direction: column;

}

